#!/bin/sh
# first time
if [[ ! -d $(nix store add-path --name source --dry-run .) ]]; then
  nix store add-path --name source .
  (cd ./nix/repo&& nix flake update std)
  # (cd ./src/tests && nix flake lock --update-input std)
fi
#
. ./lib
watch_file ./flake.nix
use envreload //repo/devshells/default //repo/configs //repo/toolchain
