# export TMUX_SESSION_NAME="myNixOS"
watch_file ./devenv.nix
watch_file ./treefmt.nix
use flake . --impure
# if ! tmux has-session -t "$TMUX_SESSION_NAME" 2>/dev/null; then 
#   tmuxinator start myNixOS
# fi
