/pictures/black-hole-cosmic-3840x2160-19145.jpg filter=lfs diff=lfs merge=lfs -text
/users/cdockter/configs/wayland/ags/[[:space:]]./@girs/gio-2.0.d.ts filter=lfs diff=lfs merge=lfs -text
/users/cdockter/configs/wayland/ags/[[:space:]]./@girs/glib-2.0.d.ts filter=lfs diff=lfs merge=lfs -text
/users/cdockter/configs/wayland/ags/@girs/atk-1.0.d.ts filter=lfs diff=lfs merge=lfs -text
/users/cdockter/configs/wayland/ags/@girs/atspi-2.0.d.ts filter=lfs diff=lfs merge=lfs -text
/users/cdockter/configs/wayland/ags/@girs/gdk-3.0.d.ts filter=lfs diff=lfs merge=lfs -text
/users/cdockter/configs/wayland/ags/@girs/gdk-4.0.d.ts filter=lfs diff=lfs merge=lfs -text
/users/cdockter/configs/wayland/ags/@girs/gdkpixbuf-2.0.d.ts filter=lfs diff=lfs merge=lfs -text
/users/cdockter/configs/wayland/ags/@girs/gio-2.0.d.ts filter=lfs diff=lfs merge=lfs -text
/users/cdockter/configs/wayland/ags/@girs/giounix-2.0.d.ts filter=lfs diff=lfs merge=lfs -text
/users/cdockter/configs/wayland/ags/@girs/girepository-3.0.d.ts filter=lfs diff=lfs merge=lfs -text
/users/cdockter/configs/wayland/ags/@girs/glib-2.0.d.ts filter=lfs diff=lfs merge=lfs -text
/users/cdockter/configs/wayland/ags/@girs/gobject-2.0.d.ts filter=lfs diff=lfs merge=lfs -text
/users/cdockter/configs/wayland/ags/@girs/graphene-1.0.d.ts filter=lfs diff=lfs merge=lfs -text
/users/cdockter/configs/wayland/ags/@girs/gsk-4.0.d.ts filter=lfs diff=lfs merge=lfs -text
/users/cdockter/configs/wayland/ags/@girs/gtk-3.0.d.ts filter=lfs diff=lfs merge=lfs -text
/users/cdockter/configs/wayland/ags/@girs/gtk-4.0.d.ts filter=lfs diff=lfs merge=lfs -text
/users/cdockter/configs/wayland/ags/@girs/gtksource-5.d.ts filter=lfs diff=lfs merge=lfs -text
/users/cdockter/configs/wayland/ags/@girs/harfbuzz-0.0.d.ts filter=lfs diff=lfs merge=lfs -text
/users/cdockter/configs/wayland/ags/@girs/pango-1.0.d.ts filter=lfs diff=lfs merge=lfs -text
/users/cdockter/configs/wayland/ags/@girs/soup-2.4.d.ts filter=lfs diff=lfs merge=lfs -text
/users/cdockter/configs/wayland/ags/@girs/vulkan-1.0.d.ts filter=lfs diff=lfs merge=lfs -text
/users/cdockter/configs/wayland/ags/@girs/webkit2-4.0.d.ts filter=lfs diff=lfs merge=lfs -text
/users/cdockter/configs/wayland/ags/@girs/webkit2webextension-4.0.d.ts filter=lfs diff=lfs merge=lfs -text
/home/cdockter/configs/wayland/ags/@girs/atk-1.0.d.ts filter=lfs diff=lfs merge=lfs -text
/home/cdockter/configs/wayland/ags/@girs/atspi-2.0.d.ts filter=lfs diff=lfs merge=lfs -text
/home/cdockter/configs/wayland/ags/@girs/gdk-3.0.d.ts filter=lfs diff=lfs merge=lfs -text
/home/cdockter/configs/wayland/ags/@girs/gdk-4.0.d.ts filter=lfs diff=lfs merge=lfs -text
/home/cdockter/configs/wayland/ags/@girs/gdkpixbuf-2.0.d.ts filter=lfs diff=lfs merge=lfs -text
/home/cdockter/configs/wayland/ags/@girs/gio-2.0.d.ts filter=lfs diff=lfs merge=lfs -text
/home/cdockter/configs/wayland/ags/@girs/giounix-2.0.d.ts filter=lfs diff=lfs merge=lfs -text
/home/cdockter/configs/wayland/ags/@girs/glib-2.0.d.ts filter=lfs diff=lfs merge=lfs -text
/home/cdockter/configs/wayland/ags/@girs/gobject-2.0.d.ts filter=lfs diff=lfs merge=lfs -text
/home/cdockter/configs/wayland/ags/@girs/graphene-1.0.d.ts filter=lfs diff=lfs merge=lfs -text
/home/cdockter/configs/wayland/ags/@girs/gsk-4.0.d.ts filter=lfs diff=lfs merge=lfs -text
/home/cdockter/configs/wayland/ags/@girs/gtk-3.0.d.ts filter=lfs diff=lfs merge=lfs -text
/home/cdockter/configs/wayland/ags/@girs/gtk-4.0.d.ts filter=lfs diff=lfs merge=lfs -text
/home/cdockter/configs/wayland/ags/@girs/gtksource-5.d.ts filter=lfs diff=lfs merge=lfs -text
/home/cdockter/configs/wayland/ags/@girs/harfbuzz-0.0.d.ts filter=lfs diff=lfs merge=lfs -text
/home/cdockter/configs/wayland/ags/@girs/pango-1.0.d.ts filter=lfs diff=lfs merge=lfs -text
/home/cdockter/configs/wayland/ags/@girs/soup-2.4.d.ts filter=lfs diff=lfs merge=lfs -text
/home/cdockter/configs/wayland/ags/@girs/vulkan-1.0.d.ts filter=lfs diff=lfs merge=lfs -text
/home/cdockter/configs/wayland/ags/@girs/webkit2-4.0.d.ts filter=lfs diff=lfs merge=lfs -text
/home/cdockter/configs/wayland/ags/@girs/webkit2webextension-4.0.d.ts filter=lfs diff=lfs merge=lfs -text
/assets/pictures/black-hole-cosmic-3840x2160-19145.jpg filter=lfs diff=lfs merge=lfs -text
/assets/pictures/wallpaper-dread.png filter=lfs diff=lfs merge=lfs -text
